
<!DOCTYPE html>
<html>
<head>
<title> Alp Er - CV</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Alp Er."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="shortcut icon" type="image/x-icon" href="icon_ae.png"/> 

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="/images/headshot.jpg" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Alp Er</h1>
			<h2 class="quickFade delayThree">Industrial Engineer</h2>
			<h3 class="quickFade delayThree" id="inspiration"> Creative.&nbsp;&nbsp;&nbsp;Innovative.&nbsp;&nbsp;&nbsp;Motivated.</h3>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp; <a href="mailto:alp.er@outlook.com" target="_blank">alp.er@outlook.com</a></li>
				<li><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;+90-544-662-5404</li>
				<li><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;Pendik / Istanbul</li>
				
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		

		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article class="jobs">
					<h2><i class="fa fa-plane"></i>&nbsp;Istanbul Sabiha Gokcen Airport, <span style="font-style: italic; font-size: 0.75em">Commercial Affairs Specialist</span></h2>
					<p class="subDetails">Present - August 2013</p>
					<p class="positionDetails">Area Allocation, Food & Beverage Areas, Duty-Free and CIP Lounges</p>
					
						<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;In order to reveal key commercial weaknesses, suggested ordering an international study of airports and compared ISG statistics to global averages.</p>
						<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Suggested and completed a capacity analysis for CIP Lounges, gathered the data, used statistical methods and concepts to reveal overcrowded timespans</p>
						<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Prepared pdf reports using R statistical computing language</p>
						<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Investigated possible hidden reasons that might affect duty-free revenues using R, such as waiting times at passport control</p>
						<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Created a local database for daily revenues and passengers data in order to report quickly and effectively</p>
						<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Provided improvements for SAP reporting system</p>
						<p class="">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Managed tenant relationships productively</p>

					
				</article>
				
				<article class="jobs">
					<h2>Henkel, <span style="font-style: italic; font-size: 0.75em">Supply Chain Intern</span></h2>
					<p class="subDetails">August 2013 - July 2012</p>
					
					<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Prepared Excel formula sheets in order to speed up the purchase order creation and ordering processes which could be completed 6 times faster than before</p>
					<p class="">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Created purchasing orders using SAP, controlled arrival process of locally and internationally supplied materials, used SAP for reporting</p>
				</article>
				



				<article class="jobs">
					<h2>Istanbul Sabiha Gokcen Airport, <span style="font-style: italic; font-size: 0.75em">Purchasing Intern</span></h2>
					<p class="subDetails">July 2011</p>
					<p class="">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Summer internship at purchasing department of ISG</p>
				</article>

				<article>
					<h2>Kimberly Clark, <span style="font-style: italic; font-size: 0.75em">Production Intern</span></h2>
					<p class="subDetails">July 2010</p>
					<p class="">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Summer internship at the production mill of Huggies</p>
				</article>


			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li><i class="fa fa-comments"></i> Turkish, <span class="subDetails">Native</span></li>
					<li><i class="fa fa-comments-o"></i> English, <span class="subDetails">Fluent</span></li>
					<li><i class="fa fa-comments"></i> German,  <span class="subDetails">Intermediate</span></li>
					
					<li><img class="skill-icons" src="/images/excel.ico"/> Excel, <span  class="subDetails">Very Effective Use</span></li>
					<li><img class="skill-icons" src="/images/r.png"/> R,<span  class="subDetails"> Statistical Computing</span></li>
					<li><img class="skill-icons" src="/images/ruby.png"/> Ruby,<span  class="subDetails"> Programming Lang.</span></li>
					
					<li><img class="skill-icons" src="/images/powerpoint.png"/> Powerpoint</li>
					<li><i class="fa fa-chevron-circle-right"></i> SPSS</li>
					<li><i class="fa fa-chevron-circle-right"></i> SAP</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2><i class="fa fa-university"></i>&nbsp;Marmara University, <span style="font-style: italic; font-size: 0.75em">Industrial Engineering</span></h2>
					<p class="subDetails">2013-2008</p>
					<p class="madde">Taught in English</p>
					<p>&nbsp;<i class="fa fa-exchange"></i> 7th Semester was in Germany (Karlsruhe Institute of Technology) as an Erasmus student</p>
				</article>

				<article>
					<h2><img src="/images/high-school.png" id="high-school"/> Kadıkoy Anadolu Lisesi</h2>
					<p class="subDetails">2008-2003</p>
					<p>High school education, taught in English</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		

		<section>
			<div class="sectionTitle">
				<h1>Certificates</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2><i class="fa fa-certificate"></i> Analytics Edge (Data Analytics)</h2><p class="subDetails">2015, 180 hours</p>
					<p class="madde">Massachusetts Institute of Technology <span class="cert-src">via edX</span></p>
				</article>

				<article>
					<h2><i class="fa fa-certificate"></i> R Programming</h2><p class="subDetails">2015, 32 hours</p>
					<p class="madde">Johns Hopkins University <span class="cert-src">via Coursera</span></p>
				</article>

				<!--<article>
					<h2><i class="fa fa-certificate"></i> Regression Models</h2><p class="subDetails">2015, 32 hours</p>
					<p class="madde">Johns Hopking University <span class="cert-src">via Coursera</span></p>
				</article>-->

				<article>
					<h2><i class="fa fa-certificate"></i> Data Analysis and Statistical Inference</h2><p class="subDetails">2014, 90 hours</p>
					<p>Duke University <span class="cert-src">via Coursera</span></p>
				</article>

			</div>
			<div class="clear"></div>
		</section>



		<section>
			<div class="sectionTitle">
				<h1>Interests & Activities</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<p class="madde">&nbsp;<i class="fa fa-caret-right"></i> Socializing</p>
					<p class="madde">&nbsp;<i class="fa fa-caret-right"></i> Hiking (Founder of the "Hikers' Social Club" at ISG which has 50 members)</p>
					<p class="madde">&nbsp;<i class="fa fa-caret-right"></i> Watching movies (1200 movies throughout last 5 years)</p>
					<p class="madde">&nbsp;<i class="fa fa-caret-right"></i> Machine Learning, Data Analysis, HTML, CSS (online courses)</p>
					<p class="madde">&nbsp;<i class="fa fa-caret-right"></i> Discovering new music</p>
					<p class="madde">&nbsp;<i class="fa fa-caret-right"></i> Reading (Mostly modern and ancient history)</p>
					<p>&nbsp;<i class="fa fa-caret-right"></i> Magazines (Harvard Business Review, Psychology Today)</p>

				</article>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>References</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<p class="maddeRef"> Emine Tasci Kaya – Supply Chain Manager / Henkel Turkey</p>
					<p style="font-style: italic; font-size: 0.85em; margin-bottom: 6px;"><i class="fa fa-envelope"></i> &nbsp;emine.tasci@tr.henkel.com</p>
				</article>

				<article>
					<p class="maddeRef"> Merve Toker – Team Leader / Henkel Turkey</p>
					<p style="font-style: italic; font-size: 0.85em; margin-bottom: 6px;"><i class="fa fa-envelope"></i> &nbsp;merve.toker@tr.henkel.com</p>
				</article>

				<article>
					<p class="maddeRef"> Vardar Çobanoğlu – Marmara University</p>
					<p style="font-style: italic; font-size: 0.85em; margin-bottom: 6px;"><i class="fa fa-envelope"></i> &nbsp;v_coban@yahoo.com</p>
				</article>

			</div>
			<div class="clear"></div>
		</section>


	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>



</body>
</html>