<!DOCTYPE html>
<html>
<head>
<title> Alp Er - CV</title>
<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Alp Er."/>
<meta charset="UTF-8"> 
<link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="shortcut icon" type="image/x-icon" href="icon_ae.png"/> 
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="/images/headshot.jpg" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Alp Er</h1>
			<h2 class="quickFade delayThree">Industrial Engineer</h2>
			<h3 class="quickFade delayThree" id="inspiration"> Creative.&nbsp;&nbsp;&nbsp;Innovative.&nbsp;&nbsp;&nbsp;Motivated.</h3>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp; <a href="mailto:alp.er@outlook.com" target="_blank">alp.er@outlook.com</a></li>
				<li><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;+90-544-662-5404</li>
				<li><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;Pendik / Istanbul</li>
				
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		

		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article class="jobs">
					<h2><i class="fa fa-plane"></i>&nbsp;Istanbul Sabiha Gokcen Airport, <span style="font-style: italic; font-size: 0.75em">Commercial Affairs Specialist</span></h2>
					<p class="subDetails">Present - August 2013</p>
					<p class="positionDetails">Area Allocation, Food & Beverage Areas, Duty-Free and CIP Lounges</p>
					
						<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;In order to reveal key commercial weaknesses, suggested ordering an international study of airports and compared ISG statistics to global averages.</p>
						<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Suggested and completed a capacity analysis for CIP Lounges, gathered the data, used statistical methods and concepts to reveal overcrowded timespans</p>
						<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Prepared pdf reports using R statistical computing language</p>
						<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Investigated possible hidden reasons that might affect duty-free revenues using R, such as waiting times at passport control</p>
						<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Created a local database for daily revenues and passengers data in order to report quickly and effectively</p>
						<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Provided improvements for SAP reporting system</p>
						<p class="">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Managed tenant relationships productively</p>

					
				</article>
				
				<article class="jobs">
					<h2>Henkel, <span style="font-style: italic; font-size: 0.75em">Supply Chain Intern</span></h2>
					<p class="subDetails">August 2013 - July 2012</p>
					
					<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Prepared Excel formula sheets in order to speed up the purchase order creation and ordering processes which could be completed 6 times faster than before</p>
					<p class="">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Created purchasing orders using SAP, controlled arrival process of locally and internationally supplied materials, used SAP for reporting</p>
				</article>
				



				<article class="jobs">
					<h2>Istanbul Sabiha Gokcen Airport, <span style="font-style: italic; font-size: 0.75em">Purchasing Intern</span></h2>
					<p class="subDetails">July 2011</p>
					<p class="">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Summer internship at purchasing department of ISG</p>
				</article>

				<article>
					<h2>Kimberly Clark, <span style="font-style: italic; font-size: 0.75em">Production Intern</span></h2>
					<p class="subDetails">July 2010</p>
					<p class="">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Summer internship at the production mill of Huggies</p>
				</article>


			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li class="keySkills-sub"><i class="fa fa-comments"></i>&nbsp; Turkish, <span class="subDetails">Native</span></li>
					<li class="keySkills-sub"><i class="fa fa-comments-o"></i>&nbsp; English, <span class="subDetails">Fluent</span></li>
					<li class="keySkills-sub"><i class="fa fa-comments"></i>&nbsp; German,  <span class="subDetails">Intermediate</span></li>
					
					<li class="keySkills-sub"><img class="skill-icons" src="/images/excel.png"/>&nbsp; Excel, <span  class="subDetails">Very Effective Use</span></li>
					<li class="keySkills-sub"><img class="skill-icons" src="/images/r.png"/>&nbsp; R,<span  class="subDetails"> Statistical Computing</span></li>
					<li class="keySkills-sub"><img class="skill-icons" src="/images/ruby.png"/>&nbsp; Ruby,<span  class="subDetails"> Programming Lang.</span></li>
					
					<li class="keySkills-sub"><img class="skill-icons" src="/images/powerpoint.png"/>&nbsp; Powerpoint</li>
					<li class="keySkills-sub"><i class="fa fa-chevron-circle-right">&nbsp;</i> SPSS</li>
					<li class="keySkills-sub"><i class="fa fa-chevron-circle-right">&nbsp;</i> SAP</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2><i class="fa fa-university"></i>&nbsp;Marmara University, <span style="font-style: italic; font-size: 0.75em">Industrial Engineering</span></h2>
					<p class="subDetails">2013-2008</p>
					<p class="madde">Taught in English</p>
					<p>&nbsp;<i class="fa fa-exchange"></i> 7th Semester was in Germany (Karlsruhe Institute of Technology) as an Erasmus student</p>
				</article>

				<article>
					<h2><img src="/images/high-school.png" id="high-school"/> Kadıkoy Anadolu Lisesi</h2>
					<p class="subDetails">2008-2003</p>
					<p>High school education, taught in English</p>
				</article>

			</div>
			<div class="clear"></div>
			<br><br>
			
		</section>

	</div>


	<div class="mainDetails" style="border-bottom: 0px;">
		<div class="clear"></div>
		<br><br><br><br><br><br><br><br><br><br>
	</div>


</div>



</body>
</html>