<!DOCTYPE html>
<html>
<head>
<title> Alp Er - CV</title>
<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Alp Er."/>
<meta charset="UTF-8"> 
<link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="shortcut icon" type="image/x-icon" href="icon_ae.png"/> 
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="/images/headshot.jpg" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Alp Er</h1>
			<h2 class="quickFade delayThree">Industrial Engineer</h2>
			<h3 class="quickFade delayThree" id="inspiration"> Creative.&nbsp;&nbsp;&nbsp;Innovative.&nbsp;&nbsp;&nbsp;Motivated.</h3>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp; <a href="mailto:alp.er@outlook.com" target="_blank">alp.er@outlook.com</a></li>
				<li><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;+90-544-662-5404</li>
				<li><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;Pendik / Istanbul</li>
				
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
	

		<section>

			<div class="sectionTitle">
				<h1>Certificates</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2><i class="fa fa-certificate"></i> Analytics Edge (Data Analytics)</h2><p class="subDetails">2015, 180 hours</p>
					<p class="madde">Massachusetts Institute of Technology <span class="cert-src">via edX</span></p>
				</article>

				<article>
					<h2><i class="fa fa-certificate"></i> R Programming</h2><p class="subDetails">2015, 32 hours</p>
					<p class="madde">Johns Hopkins University <span class="cert-src">via Coursera</span></p>
				</article>

				<!--<article>
					<h2><i class="fa fa-certificate"></i> Regression Models</h2><p class="subDetails">2015, 32 hours</p>
					<p class="madde">Johns Hopking University <span class="cert-src">via Coursera</span></p>
				</article>-->

				<article>
					<h2><i class="fa fa-certificate"></i> Data Analysis and Statistical Inference</h2><p class="subDetails">2014, 90 hours</p>
					<p>Duke University <span class="cert-src">via Coursera</span></p>
				</article>

			</div>
			<div class="clear"></div>
		</section>



		<section>
			<div class="sectionTitle">
				<h1>Interests & Activities</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<p class="madde">&nbsp;<i class="fa fa-caret-right"></i> Socializing</p>
					<p class="madde">&nbsp;<i class="fa fa-caret-right"></i> Hiking (Founder of the "Hikers' Social Club" at ISG which has 50 members)</p>
					<p class="madde">&nbsp;<i class="fa fa-caret-right"></i> Watching movies (1200 movies throughout last 5 years)</p>
					<p class="madde">&nbsp;<i class="fa fa-caret-right"></i> Machine Learning, Data Analysis, HTML, CSS (online courses)</p>
					<p class="madde">&nbsp;<i class="fa fa-caret-right"></i> Discovering new music</p>
					<p class="madde">&nbsp;<i class="fa fa-caret-right"></i> Reading (Mostly modern and ancient history)</p>
					<p>&nbsp;<i class="fa fa-caret-right"></i> Magazines (Harvard Business Review, Psychology Today)</p>

				</article>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>References</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<p class="maddeRef"> Emine Tasci Kaya – Supply Chain Manager / Henkel Turkey</p>
					<p style="font-style: italic; font-size: 0.85em; margin-bottom: 6px;"><i class="fa fa-envelope"></i> &nbsp;emine.tasci@tr.henkel.com</p>
				</article>

				<article>
					<p class="maddeRef"> Merve Toker – Team Leader / Henkel Turkey</p>
					<p style="font-style: italic; font-size: 0.85em; margin-bottom: 6px;"><i class="fa fa-envelope"></i> &nbsp;merve.toker@tr.henkel.com</p>
				</article>

				<article>
					<p class="maddeRef"> Vardar Çobanoğlu – Marmara University</p>
					<p style="font-style: italic; font-size: 0.85em; margin-bottom: 6px;"><i class="fa fa-envelope"></i> &nbsp;v_coban@yahoo.com</p>
				</article>

			</div>
			<div class="clear"></div>
			<br><br>
		</section>

	</div>


	<div class="mainDetails" style="border-bottom: 0px;">
		<div class="clear"></div>
		<br><br><br><br><br><br><br><br><br><br>
		<br><br><br><br><br><br><br><br><br><br>
		<br><br><br><br><br><br><br><br><br><br>
		<br><br><br><br><br><br><br><br><br><br>
	</div>


</div>

</body>
</html>