<!DOCTYPE html>
<html>
<head>
<title> Esra Özkanlı - CV</title>
<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Esra Özkanlı."/>
<meta charset="UTF-8"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/style.css">

<link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" type="image/x-icon" href="icon_ae.png"/>
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="/images/bebisko.jpg"/>
		</div>
		
		<div id="name">
			<br>
			<h1 class="quickFade delayTwo">Esra Özkanlı</h1>
			<h3 class="quickFade delayThree" id="inspiration"> Uluslararası İlişkiler, Global Pazarlama </h3>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<br>
			<ul>
				<li><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp; <a href="mailto:esraozkanli@hotmail.com" target="_blank">esraozkanli@hotmail.com</a></li>
				<li><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;0532 731 94 83</li>
				<li><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp; Üsküdar / İstanbul</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		

		<section>
			<div class="sectionTitle">
				<h1>Eğitim</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2><i class="fa fa-university"></i>&nbsp;Marmara Üniversitesi, <span style="font-style: italic; font-size: 0.75em"> MBA (Global Pazarlama)</span></h2>
					<p class="subDetails">2015-2016</p>
					<br>
				</article>

				<article>
					<h2><i class="fa fa-university"></i>&nbsp;Maltepe Üniversitesi, <span style="font-style: italic; font-size: 0.75em"> Uluslararası İlişkiler ve Avrupa Birliği</span></h2>
					<p class="subDetails">2008-2013</p>
					<br>
				</article>

				<article>
					<h2><img src="/images/high-school.png" id="high-school"/> Halide Edip Adıvar Lisesi</h2>
					<p class="subDetails">2004-2007</p>
					<br>
				</article>

			</div>
			<div class="clear"></div>
		</section>

		
		<section>
			<div class="sectionTitle">
				<h1>İş Deneyimi</h1>
			</div>
			
			<div class="sectionContent">
				<article class="jobs">
					<h2><i class="fa fa-plane"></i>&nbsp;İstanbul Sabiha Gökçen Havalimanı, <span style="font-style: italic; font-size: 0.75em">Satınalma Sorumlusu</span></h2>
					<p class="subDetails">Ağustos 2013 - ...</p>
					<p class="positionDetails"></p>
					
						<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Pazar dinamiklerini takip etmek, ürün gruplarının satış, pazar payı ve tüketici verilerini, pazar araştırmalarını, dağılım ve rakip faaliyetlerini, ürün ve marka stratejilerini incelemek ve takibini yapmak.</p>
						<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Alınacak ürün/hizmetin maliyet kırılımlarını gerçekleştirmek ve fiyat analizlerini yapmak.</p>
						<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;PR,  İletişim Ajansları ve Dijital Ajansların seçim süreçlerinde Kurumsal İletişim Departmanı ile koordineli bir şekilde çalışmak, yürütülen çalışmaların kontrol ve takibini yapmak.</p>
						<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Kurumsal üniformalarının tasarımlarını yaptırmak ve tedariğini gerçekleştirmek. (Airport Otel, Teknik, BHS, PBB, Terminal Operasyon, CIP Lounge ekipleri için)</p>
						<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Yurtdışı fuarlarında, kurum içerisinde ve müşterilere yönelik kullanılacak promosyon çalışmalarının belirlenmesi konusunda Kurumsal İletişim Departmanı ile birlikte karar vermek, ürünlerin tedariğini sağlamak.</p>
						<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Reklam alanları ve ayrıcalıklı hizmetler (CIP Lounge, Fast Track, vale) için ilgili departman ile bu alanların daha da geliştirilmesi konusunda çalışmalar yürütmek. İlgili projeler doğrultusunda ajans ve tedarikçilerle iletişime geçmek.</p>
						<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;İhale süreçleri, sözleşme ve kalite süreçlerinin yönetimini sağlamak.</p>
						<p class="">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Tedarikçi ilişkilerini sağlamak, organizasyon ve iletişimde bulunmak ve geniş bir tedarikçi portföyüne sahip olmak. (Reklam-Tanıtım, FMCG, Tekstil, Hizmet, Gıda, Ev-Yaşam, Bilgisayar-Yazılım)</p>

					
				</article>

				<article class="jobs">
					<h2>İstanbul Sabiha Gökçen Havalimanı, <span style="font-style: italic; font-size: 0.75em">Stajyer</span></h2>
					<p class="subDetails">Haziran 2011-Temmuz 2011</p>
					<p class="">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Sabiha Gökçen Havalimanı'nda Oracle ve Materials Control programlarını kullanarak, yurtiçi / yurtdışı satın alma süreçlerini öğrenerek ve uygulayarak bağlı bulunduğum departmana destek olmak.</p>
				</article>

				<article>
					<h2>Aile Şirketi, <span style="font-style: italic; font-size: 0.75em">İşletmeci</span></h2>
					<p class="subDetails">Haziran 2007 - ...</p>
					<p class="">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Çeşitli sektörlerde faaliyet gösteren mağazalarımızın dönemsel olarak işletmeciliğini yapmak. Sıcak satış, pazarlama, vitrin görsel dizaynı, mali kontroller, ürün reklam ve marka çalışmalarını yürütmek.</p>
				</article>


			</div>
			<div class="clear"></div>
		</section>
		

		<section>
			<div class="sectionTitle">
				<h1>Projeler</h1>
			</div>
			
			<div class="sectionContent">
				<article class="jobs">
					<h2><i class="fa fa-plane"></i>&nbsp;ISG Çalışan Kulüpleri, <span style="font-style: italic; font-size: 0.75em">Başkan</span></h2>
					<p class="subDetails">Mayıs 2015 - ...</p>
					<p class="positionDetails"></p>
					
					<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Çalışan kulüplerinin (Hiking, Basketbol, Yoga, Dans, Tiyatro ve Akıl Fikir Kulüpleri) faaliyetlerini kontrol etmek, ihtiyaç ve beklentilerini çözüme ulaştırmak</p>
					<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Kulüplerin sosyal faaliyetlerini, etkinliklerini ve dönemsel planlarını kulüp başkanları ile birlikte oluşturmak, kulüplerin şirket içi pazarlamasını gerçekleştirmek</p>
					<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Sosyal sorumluluk, etkinlik, reklam ve sponsorluk faaliyetlerinin yürütmek</p>
					<p class="">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Kulüplerin şirket içi sosyalleşmelerin gelişimine katkı sağlaması için gerekli desteği vermek</p>

				</article>

				<article class="jobs">
					<h2><i class="fa fa-plane"></i>&nbsp;ISG Tiyatro Kulübü, <span style="font-style: italic; font-size: 0.75em">Kurucu ve Başkan</span></h2>
					<p class="subDetails">Aralık 2014 - Aralık 2015</p>
					<p class="positionDetails"></p>
					
					<p class="madde">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Kulüp kimliğinin oluşturulması, ilan metni oluşturarak reklam ve tanıtım faaliyetlerinin yapılması, kurum içi ve sosyal mecralarda yapılan faaliyetlerin aktif bir şekilde yürütülmesi</p>

					<p class="">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Kulüp kapsamında davet ve organizasyonların düzenli bir şekilde ayarlanması ve çalışanların iş dışında da sosyalleşmelerini sağlayarak kuruma bağlılığın arttırılması</p>

				</article>



				<article class="jobs">
					<h2><i class="fa fa-plane"></i>&nbsp;Arf Eğitim Kampı, <span style="font-style: italic; font-size: 0.75em">Eğitim Danışmanı</span></h2>
					<p class="subDetails">Eylül 2012 - Haziran 2013</p>
					<p class="positionDetails"></p>
					
					<p class="">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Üniversite sınavına girecek öğrencilere Türk Dili ve Edebiyatı (dilbilgisi-edebiyat) dersleri vermek. İlkokul, ortaokul ve lise seviyesinde okuyan öğrencilere okul derslerinde yardımcı olmak</p>

				</article>

				<article>
					<h2><i class="fa fa-plane"></i>&nbsp;İşitme Engelliler ve Aileleri Derneği, <span style="font-style: italic; font-size: 0.75em">Gönüllü Çalışan</span></h2>
					<p class="subDetails">Ekim 2012</p>
					<p class="positionDetails"></p>
					
					<p class="">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;İşitme Engelliler ve Aileleri Derneği'nin aileler ve çocuklarıyla ilgili etkinliklerini organize etmek (Dernek Başkanı Sn. Viki Özromano ve ABD'den gelen psikologlar ve doktorlar ile birlikte organizasyon planı oluşturmak)</p>

				</article>

			</div>
			<div class="clear"></div>
		</section>
		

	
		<section>
			<div class="sectionTitle">
				<h1>Yetenekler</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">

					<li class="keySkills-sub"><i class="fa fa-chevron-circle-right">&nbsp;</i> MS Office</li>

					<li class="keySkills-sub"><i class="fa fa-chevron-circle-right">&nbsp;</i> SAP</li>

					<li class="keySkills-sub"><i class="fa fa-chevron-circle-right">&nbsp;</i> Materials Control</li>

					<li class="keySkills-sub"><i class="fa fa-chevron-circle-right">&nbsp;</i> İngilizce, <span class="subDetails">Intermediate</span></li>


				</ul>

				<p class="">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;İnsan ilişkilerinde oldukça başarılı, etkin iletişim kurabilen, neşeli, konuşkan, yaratıcılık ve hayal gücü oldukça zengin, pratik düşünme yeteneğine sahip, temsil yeteneği ve ikna kabiliyeti yüksek, dürüst ve çalışkan, analitik düşünce yapısına sahip, sonuç odaklı çalışan, kendini geliştirmeye hevesli, iyi bir takım oyuncusu</p>

			</div>
			<div class="clear"></div>
		</section>
		

		<section>
			<div class="sectionTitle">
				<h1>İlgi Alanları ve Hobiler</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">

					<li class="keySkills-sub"><i class="fa fa-chevron-circle-right">&nbsp;</i> Gastronomi</li>

					<li class="keySkills-sub"><i class="fa fa-chevron-circle-right">&nbsp;</i> Tiyatro</li>

					<li class="keySkills-sub"><i class="fa fa-chevron-circle-right">&nbsp;</i> Trekking</li>

					<li class="keySkills-sub"><i class="fa fa-chevron-circle-right">&nbsp;</i> Fotoğrafçılık</li>

					<li class="keySkills-sub"><i class="fa fa-chevron-circle-right">&nbsp;</i> Dans</li>

					<li class="keySkills-sub"><i class="fa fa-chevron-circle-right">&nbsp;</i> Moda</li>

					<li class="keySkills-sub"><i class="fa fa-chevron-circle-right">&nbsp;</i> Sosyal Medya</li>

				</ul>

				
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Referanslar</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<p class="maddeRef"> Tayanç Eryavuz – LİMAK, Yeni Havalimanı Projesi, Ticari Kurul Üyesi</p>
					<p style="font-style: italic; font-size: 0.85em; margin-bottom: 6px;"><i class="fa fa-envelope"></i> &nbsp;teryavuz@limak.com.tr</p>
				</article>

				<article>
					<p class="maddeRef"> Canan SOYSAL – İstanbul Sabiha Gökçen Uluslararası Havalimanı, Kurumsal İletişim Müdürü </p>
					<p style="font-style: italic; font-size: 0.85em; margin-bottom: 6px;"><i class="fa fa-envelope"></i> &nbsp;csoysal@sgia.aero</p>
				</article>

				<article>
					<p class="maddeRef"> Viki ÖZROMANO – İşitme Engelliler ve Aileleri Derneği, Dernek Başkanı</p>
					<p style="font-style: italic; font-size: 0.85em; margin-bottom: 6px;"><i class="fa fa-envelope"></i> &nbsp;ied1ied@yahoo.com.tr</p>
				</article>

			</div>
			<div class="clear"></div>
		</section>

		<br><br><br>

	</div>


	<div class="mainDetails" style="border-bottom: 0px;">
		<br><br><br><br><br>
		<div class="clear"></div>
	</div>


</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>



</body>
</html>