
<div>
	<img style="width:140%; margin-left: -20% "
		<%= image_tag("kurabiye-1.jpg", :alt => "kurabiye-1") %>
</div>
<div class="jumbotron center" style="margin-top: 3.5rem;">
	<h1>Welcome bro!</h1>
	<% if user_signed_in? %>
		<p>Congratulations on signing up!</p>
	<% else %>
		<p>Click to <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %> dogg</p>
		<p>or just <%= link_to "Log In", new_user_session_path, class: "btn btn-default btn-lg"  %> here</p>
	<% end %>
</div>


